In [20]:
import pandas as pd

In [5]:
df = pd.read_csv('pokemon_data.csv')
print(df.tail(5))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
795  719              Diancie     Rock  Fairy  50     100      150      100
796  719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [6]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
print(df.iloc[0])

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [44]:
df1 = df.loc[df['Type 1'] == "Grass"]
df1

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [9]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [16]:
new_df = df.loc[(df['Type 1'] == 'Fire') & (df['HP'] > 67)]

new_df = new_df.reset_index()

new_df

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
1,7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
2,8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
3,43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
4,64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
5,158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
6,171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
7,263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
8,270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
9,278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
10,279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
11,353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
12,354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
13,355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
14,437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
15,518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
16,542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
17,558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
18,559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
19,573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
20,614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
21,615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
22,616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
23,692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
24,723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
25,731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
26,736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
27,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [15]:
new_df.to_csv('filtered.csv')

In [36]:
new_df = pd.DataFrame()

for df in pd.read_csv('pokemon_data.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])
    #print(n)
new_df

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Fire,1,1,0,1,1,1,1,1,1,1,1
Grass,4,4,4,4,4,4,4,4,4,4,4
Fire,4,4,3,4,4,4,4,4,4,4,4
Water,1,1,0,1,1,1,1,1,1,1,1
Bug,2,2,0,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,0,1,1,1,1,1,1,1,1
Flying,2,2,2,2,2,2,2,2,2,2,2
Fire,1,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,2,2,2,2,2,2,2,2,2
Rock,2,2,2,2,2,2,2,2,2,2,2